{% extends "base.html" %}

{% block socket %}
<script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}

{% block leftbar %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Current movement direction</h3>
    </div>
    
    <div class="panel-body">
        <center>
            <br>
            <p id="direction-indicator">
                <span class="glyphicon glyphicon-massive glyphicon-asterisk" aria-hidden="true">
                </span>
            </p>
            <p><h1><span id="num-steps">0</span>&nbsp;steps</h1></p>
        </center>
    </div>
</div>
{% endblock %}

{% block rightbar %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Sensor Data</h3>
    </div>
    
    <div class="panel-body">
        <h1>
            <small><b>DISTANCE</b></small><br/>
            <span id="sensor-range">NA</span>
            <small>feet</small>
        </h1>
        <br><br>
        <h1>
            <small><b>COMPASS</b></small><br/>
            <span id="sensor-angle">NA</span>
            <small>degrees N</small></h1>
    </div>
</div>
{% endblock %}
