{% extends "base.html" %}

{% block socket %}
<script type="text/javascript" src="/static/js/robot.js"></script>
{% endblock %}

{% block leftbar %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Current movement direction</h3>
    </div>
    
    <div class="panel-body">
        <center>
            <br>
            <p id="direction-indicator">
                <span class="glyphicon glyphicon-massive glyphicon-asterisk" aria-hidden="true">
                </span>
            </p>
            <p><h1><span id="num-steps">0</span>&nbsp;steps</h1></p>
        </center>
    </div>
</div>
{% endblock %}

{% block rightbar %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Sensor Data</h3>
    </div>
    
    <div class="panel-body">
        <h2><small><b>DISTANCE</b></small></h2>
        <div class="input-group">
          <input id="sensor-range"
                 type="number"
                 value="0"
                 class="form-control"
                 aria-describedby="sensor-range-explainer">
          <span class="input-group-addon" id="sensor-range-explainer">feet</span>
        </div>

        <br>
        <h2><small><b>COMPASS</b></small></h2>
        <div class="input-group">
          <input id="sensor-angle"
                 type="number"
                 value="0"
                 class="form-control"
                 aria-describedby="sensor-angle-explainer">
          <span class="input-group-addon" id="sensor-angle-explainer">degrees N</span>
        </div>
    </div>
</div>
{% endblock %}
